      body {
        margin: 0;
        background: #000;
        font-family: "Courier New", monospace;
        color: #00ff41;
      }

      #matrixCanvas {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 0;
        background: black;
      }
      #app {
        position: relative;
        z-index: 1;
      }